@font-face {
font-family: KarlaRegular;
src: url('Karla-Regular.ttf');
}

@font-face {
font-family: KarlaItalic;
src: url('Karla-Italic.ttf');
}

@font-face {
font-family: KarlaBold;
src: url('Karla-Bold.ttf');
}

body {
	background: url(logobg.png) fixed #dadada;
	background-position: center;
	background-size: 200px;
}

b, strong {
	font-family: KarlaBold;
	font-weight: normal;
	font-style: normal;
}

.card {
	font-family: KarlaRegular, sans-serif;
	width: 220px;
	height: 308px;
	background: white;
	border-radius: 8px;
	-moz-box-shadow: 2px 2px 3px rgba(6, 6, 6, 0.38);
	box-shadow: 2px 2px 3px rgba(6, 6, 6, 0.38);
	display: inline-block;
	float: left;
	overflow: hidden;
	transition-duration: 1s;
	position: relative;
	bottom: 0px;
	text-align: left;
}

.card:hover {
	transition-duration: 0.5s;
	position: relative;
	bottom: 5px;
	-moz-box-shadow: 2px 7px 3px rgba(6, 6, 6, 0.38);
	box-shadow: 2px 7px 3px rgba(6, 6, 6, 0.38);
}

.designer {
	position: absolute;
	color: rgb(255, 255, 255);
	font-size: 10px;
	bottom: 0;
	font-family: KarlaBold;
	right: 0;
	background-color: rgba(0, 0, 0, 0.19);
	padding: 2px 6px 3px;
	border-radius: 5px 0 0 0;
}

.cardType, .genes {
	display: none !important;
}

.title {
	font-family: KarlaBold;
	font-size: 18px;
	margin-left: 13px;
	margin-bottom: 4px;
	margin-top: 8px;
	max-width: 170px;
	display: inline-block;
	transition-duration: 0.5s;
}
.dominance {
	background: #dadada;
	background-size: cover;
	width: 34px;
	height: 34px;
	vertical-align: text-bottom;
	text-align: center;
	font-size: 35px;
	border: 1px solid black;
	text-indent: 0;
	display: inline-block;
	position: relative;
	bottom: 19px;
	margin-bottom: -20px;
	margin-left: -1px;
	border-radius: 0px 5px 0px 5px;
	transition-duration: 0.5s;
	overflow: hidden;
	left: 1px;
	border-bottom-style: hidden;
	border-left-style: hidden;
	float: left;
}

.dominance span {
	position: relative;
	top: -3px;
	left: 1px;
}
.types {
	font-family: KarlaBold;
	text-transform: uppercase;
	font-size: 12px; /* 9/0.75 */
	width: 200px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid black;
	text-indent: 6px;
	padding-top: 1.3px; /* 1/0.75 */
	padding-bottom: 1.3px; /* 1/0.75 */
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-radius: 0 0 5px 5px;
	background-color: white;
	-moz-box-shadow: 2px 2px 0 rgba(6, 6, 6, 0.38);
	box-shadow: 2px 2px 0 rgba(6, 6, 6, 0.38);
	transition-duration: 0.5s;
}

.illustration {
	width: 200px;
	height: 130px;
	border-style: solid;
-moz-box-shadow: 2px 2px 0 rgba(6, 6, 6, 0.38);
box-shadow: 2px 2px 0 rgba(6, 6, 6, 0.38);
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	transition-duration: 0.5s;
}

.illustration img {
    height: 100%;
    min-width: 100%;
}

.ability {
	width: 200px;
	height: 100px;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	z-index: -10;
	font-size: 14px;
	transition-duration: 0.5s;
	line-height: 15px;
}

.rules {
	white-space: pre-wrap;
	hyphens: auto;
	word-wrap: break-word;

}


.mutation .title {
	transform: rotate (90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
  float: right;
	display: block;
  position: relative;
	clear: none;
  width: 300px;
  max-width: 300px;
	overflow: hidden;
  transform-origin: 100% 0%;
	margin: 0 0 -25px;
	left: -7px;
	top: 130px;
}


.mutation .illustration {
	margin-top: 14px;
	margin-left: 14px;
	width: 170px;
	height: 150px;
}

.mutation .types {
	margin-left: 14px;
	width: 170px;
}

.mutation .ability {
	margin-left: 15px;
	width: 170px;
}

.mutation textarea {
		width: 140px;
}

.event .title {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	display: block;
}

.event .ability {
	height: 90px;
}

.event .illustration {
	border-radius: 50%;
	height: 150px;
	margin-bottom: -5px;
}
.event .types {
	background: none;
	display: block;
	text-align: center;
	margin: 8px auto -8px;
	border-style: none;
	text-indent: 0;
	box-shadow: none;
	-moz-box-shadow:none;
}

.gene1 {
	background: #dadada;
	border-radius: 5px;
	float: right;
	margin-bottom: 5px;
	width: 20px;
	height: 20px;
	padding: 2px;
	display: inline;
	clear: both;
}

.gene2 {
	background-color: #dadada;
	width: 20px;
	height: 20px;
	padding: 2px;
	border-radius: 5px;
	float: right;
	clear: right;
	margin-bottom: 60pxpx;
	display: inline;
}

/* @group gene types */
.Air {
	background: url(/files/gen_air.png) center no-repeat #dadada;
	background-size: 90%;
	background-position: center;
}

.Artificial {
	background: url(/files/gen_artificial.png) center no-repeat #dadada;
	background-size: 90%;
	background-position: center;
}

.Fungi {
	background: url(/files/gen_fungi.png) center no-repeat #dadada;
	background-size: 90%;
	background-position: center;
}

.Bug {
	background: url(/files/gen_bug.png) center no-repeat #dadada;
	background-size: 90%;
	background-position: center;
}

.Mini {
	background: url(/files/gen_mini.png) center no-repeat #dadada;
	background-size: 90%;
	background-position: center;
}

.Plant {
	background: url(/files/gen_plant.png) center no-repeat #dadada;
	background-size: 90%;
	background-position: center;
}

.Nautic {
	background: url(/files/gen_nautic.png) center no-repeat #dadada;
	background-size: 90%;
	background-position: center;
}

.Sinister {
	background: url(/files/gen_sinister.png) center no-repeat #dadada;
	background-size: 90%;
	background-position: center;
}

.Land {
	background: url(/files/gen_land.png) center no-repeat #dadada;
	background-size: 90%;
	background-position: center;
}
/* @end */




.splicer .title {
	text-align: left;
	display: block;
}
.splicer .illustration {
	border-radius: 50%;
	width: 135px;
	height: 170px;
	margin-bottom: 0;
}
.splicer .types {
	background: none;
	display: block;
	text-align: center;
	margin: 8px auto -27px;
	border-style: none;
	text-indent: 0;
	box-shadow: none;
	-moz-box-shadow:none;
	position: relative;
	top: 70px;
}
.splicer .ability {
	height: 65px;
}

.splicer .carddraw {
	display: block;
	float: right;
	margin-top: 6px;
	margin-right: 14px;
	font-size: 24px; /* 18/0.75 */
	font-family: KarlaBold;
	padding-left: 22px;
	background: url(/files/carddraw.png) 0 3px no-repeat;
	background-size: 22px;
	height: 22px;
	vertical-align: top;
	padding-bottom: 3px;
}


.biom {
	height: 220px;
	width: 308px;
	text-align: left;
}

.biom .title {
	margin-top: 5px;
}

.biom .illustration {
	height: 120px;
	width: 280px;
}

.biom .dominance {
	float: right;
	margin-right: -1px;
	border-radius: 5px 0px 5px 0px;
	border-bottom-style: hidden;
	border-right-style: hidden;
	border-left-style: solid;
	left: -1px;
	bottom: 19px;
}

.biom .types {
	width: 280px;
}

.biom .ability {
	width: 280px;
	height: 36px;
	margin-top: 8px;
}

.flavor {
    font-family: KarlaItalic;
    color: #bbb;
    white-space: pre-wrap;
}

a {
    color: inherit;
}

.inlinesymbol {
	max-height: auto;
	max-width: 15px;
	display: inline;
	vertical-align: text-top;
}

@media print {
		body {
			background: none;
			margin: 0 auto;
		}
		#smallmenu,.add, .button, h1, input, #deckname, .whileediting {
			display: none !important;
		}
		.window,.content,.deckedit {
			width: auto;
			height: auto;
			min-width: auto;
			min-height: auto;
			max-width: auto;
			max-height: auto;
			margin: auto;
			background: none;
			box-shadow: none;
		}
    .card, .card:hover, .cardLink {
	    border-radius: 0;
	    margin: 0 0 -1px -1px;
			border: 1px dashed gray;
			box-shadow: none;
			page-break-inside: avoid;
			float: left;
			position: static;
		}
		.biom {
			transform: rotate(90deg);
			position: relative;
			top: 44px;
			right: 44px;
			margin-right: -88px;
			margin-bottom: 87px;
		}
}

@page
{
    size: A4;   /* auto is the initial value */

    /* this affects the margin in the printer settings */
    margin: 0mm 0mm 0mm 0mm;
}
