body {
	background: url(logobg.png) fixed #dadada;
	background-position: center;
	background-size: 1000px;
}

b {
	font-weight: bolder;
}

.card {
	font-family: Karla;
	width: 224px;
	height: 308px;
	background: white;
	border-radius: 8px;
	-moz-box-shadow: 2px 2px 3px rgba(6, 6, 6, 0.38);
	box-shadow: 2px 2px 3px rgba(6, 6, 6, 0.38);
	display: inline-block;
	float: left;
	margin: 20px;
	overflow: hidden;
	transition-duration: 1s;
	position: relative;
	bottom: 0px;

}

.card:hover {
	transition-duration: 0.5s;
	position: relative;
	bottom: 5px;
	-moz-box-shadow: 2px 7px 3px rgba(6, 6, 6, 0.38);
	box-shadow: 2px 7px 3px rgba(6, 6, 6, 0.38);
}


.title {
	font-weight: bolder;
	font-size: 18px;
	margin-left: 13px;
	margin-bottom: 4px;
	margin-top: 8px;
	max-width: 170px;
	display: inline-block;
	transition-duration: 0.5s;
}
.dominance {
	background: url(dom_star.png) #dadada;
	background-size: cover;
	width: 34px;
	height: 34px;
	vertical-align: text-bottom;
	text-align: center;
	font-size: 35px;
	float: left;
	border: 1px solid black;
	text-indent: 0;
	display: inline;
	position: relative;
	bottom: 19px;
	left: 0px;
	margin-bottom: -19px;
	margin-left:-1px;
	border-radius: 0px 5px 0px 5px;
	transition-duration: 0.5s;
}

.dominance span {
	position: relative;
	top: -3px;
}
.types {
	font-weight: bolder;
	text-transform: uppercase;
	font-size: 12px; /* 9/0.75 */
	width: 200px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid black;
	text-indent: 6px;
	padding-top: 1.3px; /* 1/0.75 */
	padding-bottom: 1.3px; /* 1/0.75 */
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-radius: 0 0 5px 5px;
	background-color: white;
	-moz-box-shadow: 2px 2px 0 rgba(6, 6, 6, 0.38);
	box-shadow: 2px 2px 0 rgba(6, 6, 6, 0.38);
	transition-duration: 0.5s;
}

.illustration {
	width: 200px;
	height: 130px;
	border-style: solid;
-moz-box-shadow: 2px 2px 0 rgba(6, 6, 6, 0.38);
box-shadow: 2px 2px 0 rgba(6, 6, 6, 0.38);
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	transition-duration: 0.5s;
}

.illustration img {
    height: 100%;
    min-width: 100%;
}

.ability {
	width: 200px;
	height: 100px;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	z-index: -10;
	font-size: 14px;
	transition-duration: 0.5s;
}

.mutation .title {
	transform: rotate (90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
  float: right;
	display: block;
  position: relative;
	clear: none;
  width: 300px;
  max-width: 300px;
	overflow: hidden;
  transform-origin: 100% 0%;
	margin: 0 0 -25px;
	left: -7px;
	top: 130px;
}


.mutation .illustration {
	margin-top: 14px;
	margin-left: 14px;
	width: 170px;
	height: 150px;
}

.mutation .types {
	margin-left: 14px;
	width: 170px;
}

.mutation .ability {
	margin-left: 15px;
	width: 170px;
}

.event .title {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	display: block;
}

.event .ability {
	height: 90px;
}

.event .illustration {
	border-radius: 50%;
	height: 150px;
	margin-bottom: -5px;
}
.event .types {
	background: none;
	display: block;
	text-align: center;
	margin: 8px auto -8px;
	border-style: none;
	text-indent: 0;
	box-shadow: none;
	-moz-box-shadow:none;
}

.gene1 {
	background: #dadada;
	border-radius: 5px;
	float: right;
	margin-bottom: 5px;
	width: 20px;
	height: 20px;
	padding: 2px;
	display: inline;
	clear: both;
}

.gene2 {
	background-color: #dadada;
	width: 20px;
	height: 20px;
	padding: 2px;
	border-radius: 5px;
	float: right;
	clear: right;
	margin-bottom: 60pxpx;
	display: inline;
}

.splicer .title {
	text-align: left;
	display: block;
}
.splicer .illustration {
	border-radius: 50%;
	width: 135px;
	height: 170px;
	margin-bottom: 0;
}
.splicer .types {
	background: none;
	display: block;
	text-align: center;
	margin: 8px auto -27px;
	border-style: none;
	text-indent: 0;
	box-shadow: none;
	-moz-box-shadow:none;
	position: relative;
	top: 70px;
}
.splicer .ability {
	height: 65px;
}

.splicer .carddraw {
	display: block;
	float: right;
	margin-top: 6px;
	margin-right: 14px;
	font-size: 24px; /* 18/0.75 */
	text-align: center;
	font-weight: bold;
}

.splicer .carddraw img {
	height: 22px;
	margin-bottom: -2px;
}

.biom {
	height: 224px;
	width: 308px;
}

.biom .title {
	margin-top: 5px;
}

.biom .illustration {
	height: 120px;
	width: 280px;
}

.biom .dominance {
	float: right;
	margin-right: -1px;
	border-radius: 5px 0px 5px 0px;
}

.biom .types {
	width: 280px;
}

.biom .ability {
	width: 280px;
	height: 36px;
	margin-top: 8px;
}

.flavor {
    font-style: italic;
    color: #bbb;
}

a {
    color: inherit;
}

.inlinesymbol {
	max-height: auto;
	max-width: 15px;
	display: inline;
	vertical-align: text-top;
}

@media print {
		body {
			background: none;
			margin: auto;
		}
    .card {
	    border-radius: 0;
	    margin: 0 0 -1px -1px;
			border: 1px dashed gray;
			box-shadow: none;
			page-break-inside: avoid;
		}
		.biom {
			transform: rotate(90deg);
			position: relative;
			top: 42px;
			right: 42px;
			margin-right: -84px;
			margin-bottom: 80px;
		}
}

@page
{
    size: A4;   /* auto is the initial value */

    /* this affects the margin in the printer settings */
    margin: 0mm 0mm 0mm 0mm;
}
