body { font-family: Karla, sans-serif;
	margin: 0;
}

.illustration { overflow: hidden; }
.illustration img { }

#page {
	background-color: ;
	width: 600px;
	position: absolute;
	top: 0;
	left: 0;
}

#star {
	animation-name: spinning;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-name
	z-index: 2;
	position: relative;
	left: 38%;
	height: auto;
	width: 11%;
	top: 4.5%;
}

#logo {
	background: url(/files/logo.png) no-repeat yellow;
	background-size: 90%;
	width: 600px;
	z-index: 1;
	overflow: hidden;
	height: 138px;
	text-shadow: 0 0;
	background-position: center;
}

article {
	background-color: white;
}

#menu {

}

#menu a {
	display: inline-block;
	padding: 5px;
}
