body { font-family: Karla, sans-serif;
	margin: 0;
}

.illustration { overflow: hidden; }
.illustration img { }

#page {
	background-color: ;
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 20px;
	width: 600px;
}

@keyframes spinning {
	from {transform: rotateY(0deg);}
	to {transform: rotateY(359deg);}
}
#star {
	animation-name: spinning;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	z-index: 2;
	position: relative;
	height: auto;
	float: right;
	width: 9%;
	right: 314px;
	bottom: 129px;
	margin: 0;
}

#logobg {
	width: 93%;
	z-index: 1;
	height: auto;
	margin: 20px;
}

article {
	background-color: white;
	padding: 20px;
}

#menu {
	margin: 0;
	background-color: white;
	padding-left: 20px;
}

#menu a {
	display: inline-block;
	padding: 5px 10px;
	text-decoration: none;
	text-transform: lowercase;
	transition-duration: 0.5s;
	position: relative;
	background: black;
	font-weight: bold;
	
}

#menu a:hover {
	position: relative;
	-moz-box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.23);
	box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.23);
	right: 3px;
	bottom: 3px;
	transition-duration: 0.5s;
	}

h2 {
	margin: 0;
	padding: 10px 20px;
}