body { font-family: Karla, sans-serif;
	padding-top: 40px;
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	padding-bottom: 40px;
	text-align: center;
}


.illustration { overflow: hidden; }
.illustration img { }


/* @group window specific */

.window {
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
	display: inline-block;
}

.content {
	background: #f5f5f5;
	padding: 10px 20px 20px;
	display: inline-block;
	-moz-box-shadow: 2px 2px 3px rgba(6, 6, 6, 0.38);
	box-shadow: 2px 2px 3px rgba(6, 6, 6, 0.38);
	float: left;
	min-height: 400px;
}

.preview {
	display: inline-block;
	text-align: center;
	min-width: 300px;
	float: right;
	-moz-box-shadow: 2px 2px 3px rgba(6, 6, 6, 0.38);
	box-shadow: 2px 2px 3px rgba(6, 6, 6, 0.38);
	min-height: 300px;
	border-radius: 0 8 8 0;
}

.window .card {
	animation-name: hover;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	-webkit-animation-direction: alternate; /* Safari 4.0 - 8.0 */
	   animation-direction: alternate;
	float: none;
	text-align: left;
}

.window .biom .gene1,.window .biom .gene2 {
	display: none;
}

.window .splicer .dominance, .window .splicer .gene1,form .splicer .gene2 {
	display: none;
}

.window .event .dominance {
	display: none;
}

.window .mutation .title {
	top: 155px;
	left: 55px;
	transform-origin: 50% 50%;
	position: absolute;
}

.window .mutation .dominance {
	display: none;
}
/* @end */

form {
	text-align: right;
	width: 300px;
}

form input, form select {
	margin-bottom: 2px;
	margin-top: 2px;
}

form span {
	float: left;
}

#page {
	background-color: gray;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	-moz-box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.23);
	box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.23);
	text-align: left;
}


@keyframes hover {
	from {
		transform: translateY(0px);
		-moz-box-shadow: 2px 2px 3px rgba(6, 6, 6, 0.38);
		box-shadow: 2px 2px 3px rgba(6, 6, 6, 0.38);
		}
	to {
		transform: translateY(-5px);
		-moz-box-shadow: 2px 7px 3px rgba(6, 6, 6, 0.38);
		box-shadow: 2px 7px 3px rgba(6, 6, 6, 0.38);
		}
}

@keyframes spinning {
	from {transform: rotateY(0deg);}
	to {transform: rotateY(359deg);}
}
#star {
	animation-name: spinning;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	z-index: 2;
	position: relative;
	height: auto;
	float: right;
	width: 9%;
	right: 313px;
	bottom: 129px;
	margin: 0;
}

#logobg {
	width: 93%;
	z-index: 1;
	height: auto;
	margin: 20px;
}

article {
	background-color: white;
	padding: 20px;
}

#smallmenu {
/*	display: none;*/
	position: fixed;
	transition-duration: 1s;
	width: 100%;
	background: url(logo_star.png) 7px 2px no-repeat black;
	background-size: 25px;
	padding-left: 40px;
	-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.23);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.23);
	z-index: 5;
	text-align: left;
}

#smallmenu a {
	display: inline-block;
	padding: 5px 10px;
	text-decoration: none;
	text-transform: lowercase;
	transition-duration: 0.2s;
	position: relative;
	top: 0;
	font-weight: bold;
}

#smallmenu a:hover {
	-moz-text-shadow: 0 2px 2px rgba(0, 0, 0, 0.23);
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.23);
	top: 5px;
}

#menu {
	margin: 0;
	background-color: white;
	padding-left: 20px;
}

#menu a {
	display: inline-block;
	padding: 5px 10px;
	text-decoration: none;
	text-transform: lowercase;
	transition-duration: 0.2s;
	position: relative;
	bottom: 0;
	font-weight: bold;
}

#menu a:hover {
	position: relative;
	-moz-box-shadow: 0 5px 2px rgba(0, 0, 0, 0.23);
	box-shadow: 0 5px 2px rgba(0, 0, 0, 0.23);
	transition-duration: 0.2s;
	bottom: 5px;
	-moz-text-shadow: 0 2px 2px rgba(0, 0, 0, 0.23);
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.23);
}

#filter {
	position: fixed;
	top: 40px;
	left: 20px;
	border: 3px solid black;
	-moz-box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.23);
	box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.23);
	border-radius: 5px;
	font-size: 14px;
}

.add {
	text-align: center;
	font: 25px Karla;
	opacity: 1;
	background-color: rgba(255, 255, 255, 0.53);
	width: 218px;
	height: 302px;
	border-radius: 8px;

	display: inline-block;
	float: left;
	margin: 20px;
	overflow: hidden;
	transition-duration: 0.5s;
	border: 3px solid black;
	font-weight: bolder;
}

.add span {
	position: relative;
	top: 45%;
}

.add:hover span {
	border-bottom: 3px solid black;
}

.add:hover {
		-moz-box-shadow: 2px 2px 3px rgba(6, 6, 6, 0.38);
		box-shadow: 2px 2px 3px rgba(6, 6, 6, 0.38);
}



h2 {
	margin: 0;
	padding: 10px 20px;
}